@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Faustina:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Faustina:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

#header {
  width: 100%;
}
#header .inner {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
}
#header .inner a {
  display: flex;
  justify-content: center;
  font: bold 60px/1 "DM Serif Display";
  overflow: hidden;
}
#header .inner .menu #gnb {
  position: absolute;
  left: 0%;
  bottom: 0;
}
#header .inner .menu #gnb li {
  float: left;
}
#header .inner .menu #gnb li a {
  display: block;
  padding: 0px 40px;
  font: bold 20px/1 "Faustina";
  color: #000;
  position: relative;
  left: 120px;
  top: 30px;
  overflow: hidden;
  transition: 0.5s;
}
#header .inner .menu #gnb li a:hover {
  transform: scale(1.2);
}
#header .inner .menu .util {
  position: absolute;
  right: 10px;
  top: 15px;
}
#header .inner .menu .util li {
  float: left;
}
#header .inner .menu .util li a {
  position: relative;
  padding: 8px;
  font: 15px/1 "apple";
  color: #000;
  transition: 0.5s;
}
#header .inner .menu .util li a:hover {
  transform: scale(1.2);
}

#visure {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  top: 70px;
  margin-bottom: 150px;
}
#visure video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#best {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
#best .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#best .inner h1 {
  font: bold 35px/1 "DM Serif Display";
  color: rgb(20, 1, 73);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#best .inner .wrap {
  width: 100%;
}
#best .inner .wrap article {
  width: 280px;
  margin-bottom: 100px;
  margin-right: 20px;
  float: left;
  border: 1px solid rgb(20, 1, 73);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
#best .inner .wrap article:last-of-type {
  margin-right: 0px;
}
#best .inner .wrap article .pic {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
#best .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  background-size: auto;
  background: #000;
  transition: 1s;
}
#best .inner .wrap article:hover .text {
  opacity: 1;
  color: rgb(20, 1, 73);
}
#best .inner .wrap article:hover img {
  opacity: 0.4;
}
#best .inner .wrap article .text {
  height: 1px;
  bottom: 320px;
  padding: 10px;
  position: relative;
  text-align: center;
  font: 15px/28px "Faustina";
  opacity: 0;
  transition: 1s;
}
#best .inner .wrap article .pic_text {
  display: block;
}
#best .inner .wrap article .pic_text p {
  text-align: center;
}
#best .inner .wrap article .pic_text .item_name {
  font: bold 22px/1 "Faustina";
  color: rgb(20, 1, 73);
  margin-bottom: 20px;
}
#best .inner .wrap article .pic_text .item_case {
  font: 15px/1 "Faustina";
  color: rgb(20, 1, 73);
  margin-bottom: 20px;
}
#best .inner .wrap article .pic_text a {
  display: block;
  width: 200px;
  height: 30px;
  margin-bottom: 30px;
  border: 1px solid #000;
  font: 15px/28px "Faustina";
  color: rgb(20, 1, 73);
  text-align: center;
  position: relative;
  left: 13%;
  transition: 0.5s;
}
#best .inner .wrap article .pic_text a:hover {
  transform: scale(1.1);
}

#story {
  width: 100%;
  height: 1200px;
  overflow: hidden;
}
#story .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  top: 50px;
}
#story .inner h1 {
  display: flex;
  justify-content: center;
  font: bold 40px/1px "DM Serif Display";
  color: rgb(20, 1, 73);
  text-decoration: underline;
  margin-bottom: 50px;
}
#story .inner div:nth-of-type(1) {
  height: 450px;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
#story .inner div:nth-of-type(1) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#story .inner div:nth-of-type(1) h2 {
  text-align: center;
  font: bold 50px/1 "DM Serif Display";
  color: #fff;
  position: relative;
  top: -400px;
  transition: 1s;
}
#story .inner div:nth-of-type(1) p {
  padding: 0px 200px;
  text-align: center;
  font: bold 20px/30px "Faustina";
  color: #fff;
  position: relative;
  top: -350px;
  transition: 1s;
}
#story .inner div:nth-of-type(1) a {
  display: block;
  width: 200px;
  height: 30px;
  border: 1px solid #fff;
  font: 15px/28px "Faustina";
  color: #fff;
  text-align: center;
  position: relative;
  left: 40%;
  top: -60%;
  transition: 1s;
}
#story .inner div:nth-of-type(1) img {
  width: 100%;
  transition: 1s;
}
#story .inner div:nth-of-type(1):hover img {
  opacity: 0.3;
}
#story .inner div:hover h2 {
  color: rgb(20, 1, 73);
}
#story .inner div:hover p {
  color: rgb(20, 1, 73);
}
#story .inner div:hover a {
  color: rgb(20, 1, 73);
  border: 1px solid rgb(20, 1, 73);
}
#story .inner div:nth-of-type(2) {
  width: 50%;
  height: 500px;
  margin-top: 40px;
  padding: 10px;
  background: #fff;
  text-align: center;
  position: relative;
  left: -10px;
}
#story .inner div:nth-of-type(2) h2 {
  font: bold 35px/1 "DM Serif Display";
  position: relative;
  top: -75%;
}
#story .inner div:nth-of-type(2) p {
  position: relative;
  top: -70%;
  left: -99%;
  font: bold 22px/30px "Faustina";
  color: rgb(20, 1, 73);
  padding: 0px 30px;
  opacity: 0;
  transition: 1s;
}
#story .inner div:nth-of-type(2) a {
  display: block;
  width: 200px;
  height: 30px;
  border: 1px solid rgb(20, 1, 73);
  font: 15px/28px "Faustina";
  color: rgb(20, 1, 73);
  text-align: center;
  position: relative;
  left: 30%;
  top: -60%;
  margin-bottom: 20px;
  transition: 1s;
}
#story .inner div:nth-of-type(2) img {
  width: 100%;
  transition: 1s;
}
#story .inner div:nth-of-type(2):hover img {
  opacity: 0.3;
}
#story .inner div:nth-of-type(2):hover a {
  transform: scale(1.1);
}
#story .inner div:nth-of-type(2):hover p {
  top: -70%;
  left: 0;
  opacity: 1;
}
#story .inner div:nth-of-type(3) {
  width: 50%;
  height: 500px;
  padding: 10px;
  background: #fff;
  position: absolute;
  top: 520px;
  right: -10px;
  text-align: center;
}
#story .inner div:nth-of-type(3) h2 {
  font: bold 35px/1 "DM Serif Display";
  position: relative;
  top: -75%;
}
#story .inner div:nth-of-type(3) p {
  position: relative;
  top: -70%;
  right: -99%;
  font: bold 22px/1 "Faustina";
  color: rgb(20, 1, 73);
  padding: 0px 30px;
  opacity: 0;
  transition: 1s;
}
#story .inner div:nth-of-type(3) a {
  display: block;
  width: 200px;
  height: 30px;
  border: 1px solid rgb(20, 1, 73);
  font: 15px/28px "Faustina";
  color: #000;
  text-align: center;
  position: relative;
  left: 30%;
  top: -55%;
  margin-bottom: 20px;
  transition: 1s;
}
#story .inner div:nth-of-type(3) img {
  width: 100%;
  transition: 1s;
}
#story .inner div:nth-of-type(3):hover a {
  transform: scale(1.1);
  color: rgb(20, 1, 73);
  border: 1px solid rgb(20, 1, 73);
}
#story .inner div:nth-of-type(3):hover img {
  opacity: 0.3;
}
#story .inner div:hover p {
  right: 0;
  opacity: 1;
}

#banner {
  width: 100%;
  height: 300px;
  background: rgb(20, 1, 73);
  margin-bottom: 100px;
  margin-top: 30px;
  padding: 20px;
}
#banner:hover h1 {
  opacity: 1;
}
#banner:hover p {
  opacity: 1;
}
#banner h1 {
  display: block;
  text-align: center;
  font: bold 50px/1 "DM Serif Display";
  color: #fff;
  opacity: 0;
  transition: 1s;
}
#banner p {
  padding: 0px 10%;
  text-align: center;
  font: 20px/2 "Faustina";
  color: #fff;
  opacity: 0;
  transition: 1s;
}

#new_item {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
#new_item .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#new_item .inner h1 {
  font: bold 35px/1 "DM Serif Display";
  color: rgb(20, 1, 73);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#new_item .inner .wrap {
  width: 100%;
}
#new_item .inner .wrap article {
  width: 280px;
  margin-bottom: 100px;
  margin-right: 20px;
  float: left;
  border: 1px solid rgb(20, 1, 73);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
#new_item .inner .wrap article:last-of-type {
  margin-right: 0px;
}
#new_item .inner .wrap article .pic {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
#new_item .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  background-size: auto;
  transition: 1s;
}
#new_item .inner .wrap article:hover .text {
  opacity: 1;
  color: rgb(20, 1, 73);
}
#new_item .inner .wrap article:hover img {
  opacity: 0.4;
}
#new_item .inner .wrap article .text {
  height: 1px;
  bottom: 320px;
  padding: 10px;
  position: relative;
  text-align: center;
  font: 15px/28px "Faustina";
  color: rgb(20, 1, 73);
  opacity: 0;
  transition: 1s;
}
#new_item .inner .wrap article .pic_text {
  display: block;
}
#new_item .inner .wrap article .pic_text p {
  text-align: center;
}
#new_item .inner .wrap article .pic_text .item_name {
  font: bold 22px/1 "Faustina";
  color: rgb(20, 1, 73);
  margin-bottom: 20px;
}
#new_item .inner .wrap article .pic_text .item_case {
  font: 15px/1 "Faustina";
  color: rgb(20, 1, 73);
  margin-bottom: 20px;
}
#new_item .inner .wrap article .pic_text a {
  display: block;
  width: 200px;
  height: 30px;
  margin-bottom: 30px;
  border: 1px solid rgb(20, 1, 73);
  font: 15px/28px "Faustina";
  color: rgb(20, 1, 73);
  text-align: center;
  position: relative;
  left: 13%;
  transition: 0.5s;
}
#new_item .inner .wrap article .pic_text a:hover {
  transform: scale(1.1);
}

#direct {
  width: 100%;
  height: 1450px;
  overflow: hidden;
}
#direct .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 50px;
}
#direct .inner article {
  width: 48%;
  height: 500px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  float: left;
}
#direct .inner h1 {
  font: bold 30px/1 "DM Serif Display";
  color: rgb(20, 1, 73);
  position: relative;
  top: 100px;
}
#direct .inner p {
  font: 20px/1 "Faustina";
  color: rgb(20, 1, 73);
  position: relative;
  top: 110px;
}
#direct .inner a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  font: bold 20px/1 "Faustina";
  color: rgb(20, 1, 73);
  border: 1px solid rgb(20, 1, 73);
  position: relative;
  top: 150px;
  left: 20%;
}
#direct .inner .direct_pic {
  width: 45%;
  height: 600px;
  position: relative;
}
#direct .inner .direct_pic img {
  width: 100%;
  height: 100%;
}

#greeting {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgb(20, 1, 73);
}
#greeting .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
#greeting .inner h1 {
  display: flex;
  justify-content: center;
  font: bold 70px/1 "DM Serif Display";
}
#greeting .inner h4 {
  font: 14px/1 "DM Serif Display";
}
#greeting .inner p {
  font: 20px/30px "Faustina";
  margin-top: 20px;
}
#greeting .inner .sign {
  width: 400px;
  height: 150px;
  margin-bottom: 150px;
}

#saying {
  width: 100%;
  height: 200px;
  color: rgb(20, 1, 73);
}
#saying .inner h1 {
  text-align: center;
  font: bold 40px/1 "DM Serif Display";
  margin-bottom: 50px;
}
#saying .inner .swiper {
  width: 100%;
  height: 350px;
}
#saying .inner .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#saying .inner .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#footer {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #000;
}
#footer .inner {
  width: 1180px;
  height: 300px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner ul {
  float: left;
  margin-top: 30px;
  margin-left: 150px;
}
#footer .inner ul h1 {
  font: bold 20px/1px "DM Serif Display";
  margin-bottom: 20px;
}
#footer .inner ul a {
  font: 18px/30px "Faustina";
  color: #000;
}
#footer .inner ul:nth-of-type(1) {
  position: relative;
  left: 15%;
}
#footer .inner ul:nth-of-type(2) {
  position: relative;
  left: 10%;
}
#footer .inner ul:nth-of-type(3) {
  display: block;
  position: relative;
  float: right;
  left: 90px;
  bottom: 10px;
  font-size: 40px;
}
#footer .inner address {
  width: 100%;
  position: relative;
  left: -55%;
  top: 140px;
}
#footer .inner .copy {
  position: relative;
  top: 190px;
  left: -150px;
}
#footer .inner .contact {
  width: 100%;
  position: relative;
  top: 80px;
  left: -650px;
}
#footer .inner .contact h2 {
  font: bold 30px/1 "DM Serif Display";
  margin-bottom: 10px;
  text-decoration: underline;
}
#footer .inner .contact p {
  font: 20px/1 "Faustina";
}

@media screen and (max-width: 1023px) {
  body #header .inner {
    left: -90px;
  }
  body #header .util {
    position: relative;
    left: 70%;
  }
  body #best {
    height: 1300px;
  }
  body #best .inner {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    left: 20%;
  }
  body #best .inner h1 {
    position: relative;
    left: -30px;
    font: bold 40px/1px "DM Serif Display";
  }
  body #best .inner .wrap article {
    margin-left: 20px;
  }
  body #story {
    height: 1200px;
  }
  body #story .inner {
    width: 1023px;
  }
  body #story .inner div:nth-of-type(2) {
    width: 45%;
    height: 400px;
    margin-top: 40px;
    padding: 10px;
    background: #fff;
    text-align: center;
    position: relative;
    left: 30px;
  }
  body #story .inner div:nth-of-type(2) h2 {
    top: -80%;
  }
  body #story .inner div:nth-of-type(2) p {
    top: -70%;
    font: bold 18px/20px "Faustina";
  }
  body #story .inner div:nth-of-type(2) a {
    top: -60%;
  }
  body #story .inner div:nth-of-type(3) {
    width: 45%;
    height: 400px;
    top: 540px;
    right: 50px;
  }
  body #story .inner div:nth-of-type(3) h2 {
    top: -80%;
  }
  body #story .inner div:nth-of-type(3) p {
    top: -70%;
    right: -99%;
    font: bold 18px/1 "Faustina";
    color: rgb(20, 1, 73);
    padding: 0px 30px;
    opacity: 0;
    transition: 1s;
  }
  body #story .inner div:nth-of-type(3) a {
    display: block;
    width: 200px;
    height: 30px;
    border: 1px solid rgb(20, 1, 73);
    font: 15px/28px "Faustina";
    color: #000;
    text-align: center;
    position: relative;
    left: 30%;
    top: -61%;
    margin-bottom: 20px;
    transition: 1s;
  }
  body #story .inner div:nth-of-type(3) img {
    width: 100%;
    transition: 1s;
  }
  body #story .inner div:nth-of-type(3):hover a {
    transform: scale(1.1);
    color: rgb(20, 1, 73);
    border: 1px solid rgb(20, 1, 73);
  }
  body #story .inner div:nth-of-type(3):hover img {
    opacity: 0.3;
  }
  body #story .inner div:hover p {
    right: 0;
    opacity: 1;
  }
  body #banner h1 {
    font: bold 35px/1 "DM Serif Display";
  }
  body #banner p {
    font: 18px/1.5 "Faustina";
  }
  body #new_item {
    height: 1300px;
  }
  body #new_item .inner {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    left: 20%;
  }
  body #new_item .inner h1 {
    position: relative;
    left: -30px;
    font: bold 40px/1px "DM Serif Display";
  }
  body #direct .inner {
    width: 100%;
  }
  body #direct .inner article {
    width: 45%;
  }
  body #direct .inner article h1 {
    position: relative;
    left: 20px;
  }
  body #direct .inner article p {
    position: relative;
    left: 20px;
  }
  body #greeting .inner {
    width: 900px;
  }
  body #saying {
    height: 290px;
  }
  body #saying .inner .swiper {
    height: 250px;
    margin-bottom: 0;
  }
  body #footer .inner {
    width: 70%;
    height: 300px;
  }
  body #footer .inner ul {
    float: left;
    margin-top: 30px;
    margin-left: 70px;
  }
  body #footer .inner ul h1 {
    font: bold 15px/1px "DM Serif Display";
    margin-bottom: 10px;
  }
  body #footer .inner ul a {
    font: 15px/30px "Faustina";
    color: #000;
  }
  body #footer .inner ul:nth-of-type(1) {
    position: relative;
    left: 15%;
  }
  body #footer .inner ul:nth-of-type(2) {
    position: relative;
    left: 10%;
  }
  body #footer .inner ul:nth-of-type(3) {
    display: block;
    position: relative;
    float: right;
    left: 90px;
    bottom: 10px;
    font-size: 40px;
  }
  body #footer .inner address {
    width: 100%;
    position: relative;
    left: -70%;
    top: 100px;
  }
  body #footer .inner .copy {
    position: relative;
    top: 190px;
    left: -150px;
  }
  body #footer .inner .contact {
    width: 100%;
    position: relative;
    top: 80px;
    left: -70%;
  }
  body #footer .inner .contact h2 {
    font: bold 30px/1 "DM Serif Display";
    margin-bottom: 10px;
    text-decoration: underline;
  }
  body #footer .inner .contact p {
    font: 20px/1 "Faustina";
  }
}
#header {
  width: 100%;
}
#header .inner {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
}
#header .inner a {
  display: flex;
  justify-content: center;
  font: bold 60px/1 "DM Serif Display";
  color: rgb(20, 1, 73);
  overflow: hidden;
}
#header .inner .menu #gnb {
  position: absolute;
  left: 0%;
  bottom: 0;
}
#header .inner .menu #gnb li {
  float: left;
}
#header .inner .menu #gnb li a {
  display: block;
  padding: 0px 40px;
  font: bold 20px/1 "Faustina";
  color: rgb(20, 1, 73);
  position: relative;
  left: 120px;
  top: 30px;
  overflow: hidden;
  transition: 0.5s;
}
#header .inner .menu #gnb li a:hover {
  transform: scale(1.2);
}
#header .inner .menu .util {
  position: absolute;
  right: 10px;
  top: 15px;
}
#header .inner .menu .util li {
  float: left;
}
#header .inner .menu .util li a {
  position: relative;
  padding: 8px;
  font: 15px/1 "Faustina";
  color: rgb(20, 1, 73);
  transition: 0.5s;
}
#header .inner .menu .util li a:hover {
  transform: scale(1.2);
}

.content {
  width: 100%;
  margin: 100px 0px;
}
.content .inner {
  width: 1180px;
  height: 1000px;
  margin: 0 auto;
  min-height: 500px;
}

#saying {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgb(20, 1, 73);
}
#saying .inner h1 {
  text-align: center;
}
#saying .inner .swiper {
  width: 100%;
  height: 350px;
}
#saying .inner .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#saying .inner .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#footer {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid rgb(20, 1, 73);
}
#footer .inner {
  width: 1180px;
  height: 300px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner ul {
  float: left;
  margin-top: 30px;
  margin-left: 150px;
}
#footer .inner ul h1 {
  font: bold 20px/1px "DM Serif Display";
  color: rgb(20, 1, 73);
  margin-bottom: 20px;
}
#footer .inner ul a {
  font: 18px/30px "Faustina";
  color: rgb(20, 1, 73);
}
#footer .inner ul:nth-of-type(1) {
  position: relative;
  left: 15%;
}
#footer .inner ul:nth-of-type(2) {
  position: relative;
  left: 10%;
}
#footer .inner ul:nth-of-type(3) {
  display: block;
  position: relative;
  float: right;
  left: 90px;
  bottom: 10px;
  font-size: 40px;
}
#footer .inner address {
  width: 100%;
  position: relative;
  left: -55%;
  top: 140px;
  color: rgb(20, 1, 73);
}
#footer .inner .copy {
  position: relative;
  top: 190px;
  left: -150px;
}
#footer .inner .contact {
  width: 100%;
  position: relative;
  top: 80px;
  left: -650px;
}
#footer .inner .contact h2 {
  font: bold 30px/1 "DM Serif Display";
  color: rgb(20, 1, 73);
  margin-bottom: 10px;
  text-decoration: underline;
}
#footer .inner .contact p {
  font: 20px/1 "Faustina";
  color: rgb(20, 1, 73);
}

.content {
  width: 100%;
  overflow: hidden;
  color: rgb(20, 1, 73);
  font-family: "Faustina";
}
.content .inner {
  width: 1180px;
  height: 100%;
  text-align: center;
}
.content .inner h1 {
  font: bold 100px/1 "DM Serif Display";
  margin-bottom: 200px;
  margin-top: 200px;
}
.content .inner .byred_text {
  height: 400px;
  font: 25px/2 "Faustina";
  margin-bottom: 200px;
  color: #fff;
  background: rgb(20, 1, 73);
  border-radius: 50%;
}
.content .inner .byred_text span {
  font: 50px/1 "DM Serif Display";
  position: relative;
  top: 0px;
}
.content .inner .byred_text p {
  position: relative;
  top: 30px;
  padding: 40px;
}
.content .inner .wrap {
  width: 100%;
  height: 2800px;
}
.content .inner .wrap .team_title {
  font: bold 30px/1 "DM Serif Display";
  margin-bottom: 50px;
}
.content .inner .wrap .ceo {
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
.content .inner .wrap .Planning {
  height: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
.content .inner .wrap .Planning article {
  margin-left: 40px;
}
.content .inner .wrap .Planning article .pic {
  width: 100%;
  height: 100%;
}
.content .inner .wrap .Planning article .member_text {
  position: relative;
  left: -40px;
}
.content .inner .wrap .Design {
  height: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
.content .inner .wrap .Design article {
  margin-left: 40px;
}
.content .inner .wrap .Design article .pic {
  width: 100%;
  height: 100%;
}
.content .inner .wrap .Design article .member_text {
  position: relative;
  left: -40px;
}
.content .inner .wrap .marketing {
  height: 400px;
  display: flex;
  justify-content: center;
}
.content .inner .wrap .marketing article {
  margin-left: 40px;
}
.content .inner .wrap .marketing article .pic {
  width: 100%;
  height: 100%;
}
.content .inner .wrap .marketing article .member_text {
  position: relative;
  left: -40px;
}
.content .inner .wrap article {
  width: 280px;
  height: 400px;
}
.content .inner .wrap article img {
  width: 100%;
  height: 100%;
}
.content .inner .team_title {
  width: 270px;
  height: 50px;
  position: relative;
  left: 40%;
  transform: translateY(-50%, -50%);
}
.content .inner .team_title:nth-of-type(1) {
  left: 38.5%;
}

main .content .inner {
  width: 1180px;
  height: 1700px;
}
main .content .inner h1 {
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 50px;
}
main .content .inner h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
main .content .inner .faq-pic {
  width: 1180px;
  height: 400px;
  text-align: center;
  background: #000;
}
main .content .inner .faq-pic img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -o-object-fit: cover;
     object-fit: cover;
}
main .content .inner .faq-pic i {
  display: block;
  position: relative;
  top: -350px;
  font-size: 40px;
  color: #fff;
}
main .content .inner .faq-pic p {
  display: block;
  position: relative;
  top: -300px;
  font: 30px/1 "Faustina";
  color: #fff;
}
main .content .inner .faq-pic a {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -190px;
  left: 41%;
  font: 20px/1.2 "Faustina";
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  transition: 0.5s;
}
main .content .inner .faq-pic a:hover {
  transform: scale(1.1);
}
main .content .inner ul {
  width: 100%;
  margin: 40px 0px;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
}
main .content .inner ul li {
  width: 200px;
  height: 50px;
  float: left;
  font: 25px/1 "Faustina";
}
main .content .inner ul li a {
  line-height: 1.7;
  color: rgb(20, 1, 73);
}
main .content .inner .faq {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
main .content .inner .faq .faq-item {
  height: 50px;
  color: rgb(20, 1, 73);
}
main .content .inner .faq .faq-item .faq-item-header {
  font: bold 25px/1 "Faustina";
  padding: 30px 0px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
main .content .inner .faq .faq-item .faq-item-header::after {
  content: "\2+";
  font-size: 2rem;
  position: absolute;
  right: 14rem;
}
main .content .inner .faq .faq-item .faq-item-header.active::after {
  content: "−";
}
main .content .inner .faq .faq-item .faq-item-body {
  margin: 0 auto;
  width: 900px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
main .content .inner .faq .faq-item .faq-item-body .faq-item-body-content {
  font: 20px/1 "Faustina";
  text-align: center;
  padding: 20px 30px;
  margin: 10px 0px;
  line-height: 1.5rem;
}

.join {
  width: 100%;
  padding: 150px 0;
}
.join .inner {
  width: 1180px;
  margin: 0 auto;
}
.join .inner h1 {
  font: 40px/1 "DM Serif Display";
  color: rgb(20, 1, 73);
  text-align: center;
  margin-bottom: 50px;
}
.join .inner img {
  width: 90%;
  margin-bottom: 50px;
  position: relative;
  left: 5%;
}
.join .inner table th,
.join .inner table td {
  padding: 20px 25px;
}
.join .inner table th {
  width: 20%;
  font: 20px/1 "Faustina";
}
.join .inner table th input[type=reset],
.join .inner table th input[type=submit] {
  position: relative;
  left: 5%;
  width: 25%;
  height: 40px;
  border: 1px solid rgb(20, 1, 73);
  background: #fff;
  margin: 20px;
  font: bold 20px/1 "Faustina";
  color: rgb(20, 1, 73);
  cursor: pointer;
  transition: 0.5s;
}
.join .inner table th input[type=reset]:hover,
.join .inner table th input[type=submit]:hover {
  background: rgb(20, 1, 73);
  color: #fff;
}
.join .inner table td input[type=text], .join .inner table td input[type=password], .join .inner table td input[type=email] {
  width: 35%;
  height: 30px;
  background: #fff;
  padding: 10px;
  border: 1px solid rgb(20, 1, 73);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.join .inner table td input[type=tel] {
  width: 19.5%;
  height: 30px;
  background: #fff;
  padding: 10px;
  border: 1px solid rgb(20, 1, 73);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.join .inner table td select {
  width: 15%;
  height: 30px;
  background: #fff;
  padding: 0px;
  border: 1px solid rgb(20, 1, 73);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.join .inner table td #text {
  width: 800px;
  height: 400px;
  position: relative;
  left: -5%;
  text-align: left;
  padding: 0 auto;
  resize: none;
}

body {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png) repeat;
}
body a h1 {
  font: bold 60px/1 "DM Serif Display";
  color: rgb(20, 1, 73);
  text-align: center;
  margin-top: 100px;
  z-index: 3;
}
body a main {
  width: 100%;
  height: 100%;
}
body a main article {
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 25%;
  left: 0;
}
body a main article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */