// 'DM Serif Display';
// 'Faustina';
main {
	.content {
		.inner {
			width: 1180px;
            height: 1500px;
			h1 {
				font-size: 50px;
				margin-bottom: 40px;
			}
			.faq-pic {
				width: 1180px;
				height: 400px;
				text-align: center;
				background: #000;
				img {
					width: 100%;
					height: 100%;
					opacity: 0.5;
				}
				i {
					display: block;
					position: relative;
					top: -270px;
					font-size: 40px;
					color: #fff;
				}
				p {
					display: block;
					position: relative;
					top: -220px;
					font: 20px/1 "Faustina";
					color: #fff;
				}
				a {
					width: 230px;
					height: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					top: -140px;
					left: 41%;
					font: 20px/1 "Faustina";
					color: #fff;
					border: 1px solid #fff;
					border-radius: 20px;
				}
			}

			ul {
				width: 100%;
				margin: 40px 0px;
				padding: 0px 100px;
				display: flex;
				justify-content: space-between;
				li {
					width: 200px;
					height: 50px;
					float: left;
					font: 25px/1 "Faustina";
					a {
						line-height: 1.7;
						color: $navy;
					}
				}
			}
			.faq {
				width: 100%;
				max-width: 100%;
				margin: 0 auto;
				.faq-item {
                    height: 50px;
					color: $navy;
                    .faq-item-header{
                        font: bold 25px/1 'Faustina';
                        padding: 20px 0px;
                        line-height: 1.5;
                        display: flex;
						justify-content: center;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
                        &::after{
                            content: "\002+";
                            font-size: 2rem;
                            position: absolute;
                            right: 14rem;
                        }
                        &.active::after{
                            content: "\2212";
                        }
                    }
                    .faq-item-body{
						margin: 0 auto;
						width: 800px;
                        max-height: 0;
                        overflow: hidden;
                        transition: 0.5s ease-in-out;
                        .faq-item-body-content{
                            font: 20px/1 'Faustina';
                            text-align: left;
                            background: rgba(5, 0, 73, 0.103);
                            padding: 20px 30px;
                            margin: 10px 0px;
                            line-height: 1.5rem;
                            
                        }
                    }
				}
			}
		}
	}
}
