.join {
	width: 100%;
	padding: 150px 0;
	.inner {
		width: 1180px;
		margin: 0 auto;
		h1 {
			font: 40px/1 $h;
			color: $navy;
			text-align: center;
			margin-bottom: 50px;
		}
		img {
			width: 100%;
			margin-bottom: 50px;
			display: flex;
			justify-content: center;
		}
		.table {
			width: 100%;
			table {
				width: 100%;
				th,
				td {
					width: 100%;
					padding: 20px 25px;
				}
				th {
					width: 20%;
					font: 20px/1 $p;
					input[type="reset"],
					input[type="submit"] {
						position: relative;
						left: 5%;
						width: 25%;
						height: 40px;
						border: 1px solid $navy;
						background: rgb(255, 255, 255);
						margin: 20px;
						font: bold 20px/1 $p;
						color: $navy;
						cursor: pointer;
						transition: 0.5s;
						&:hover {
							background: $navy;
							color: #fff;
						}
					}
				}
				td {
					input[type="text"],
					input[type="password"],
					input[type="email"] {
						width: 50%;
						height: 30px;
						background: none;
						padding: 10px;
						border: none;
						border-bottom: 1px solid #000;
					}
					input[type="tel"] {
						width: 30%;
						height: 30px;
						background: none;
						padding: 10px;
						border: none;
						border-bottom: 1px solid #000;
					}
					select {
						width: 20%;
						height: 30px;
						height: 30px;
						background: none;
						padding: 0px;
						border: none;
						border-bottom: 1px solid #000;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 999px) {
	.join {
		width: 100%;
		padding: 150px 0;
		.inner {
			width: 100%;
			margin: 0 auto;
			h1 {
				font: 40px/1 $h;
				color: $navy;
				text-align: center;
				margin-bottom: 50px;
			}
			img {
				width: 100%;
				margin-bottom: 50px;
				display: flex;
				justify-content: center;
			}
			.table {
				width: 100%;
				table {
					width: 100%;
					th,
					td {
						width: 100%;
						padding: 20px 25px;
					}
					th {
						width: 20%;
						font: 20px/1 $p;
						input[type="reset"],
						input[type="submit"] {
							position: relative;
							left: 5%;
							width: 25%;
							height: 40px;
							border: 1px solid $navy;
							background: rgb(255, 255, 255);
							margin: 20px;
							font: bold 20px/1 $p;
							color: $navy;
							cursor: pointer;
							transition: 0.5s;
							&:hover {
								background: $navy;
								color: #fff;
							}
						}
					}
					td {
						input[type="text"],
						input[type="password"],
						input[type="email"] {
							width: 50%;
							height: 30px;
							background: none;
							padding: 10px;
							border: none;
							border-bottom: 1px solid #000;
						}
						input[type="tel"] {
							width: 30%;
							height: 30px;
							background: none;
							padding: 10px;
							border: none;
							border-bottom: 1px solid #000;
						}
						select {
							width: 20%;
							height: 30px;
							height: 30px;
							background: none;
							padding: 0px;
							border: none;
							border-bottom: 1px solid #000;
						}
					}
				}
			}
		}
	}
}

