// 'DM Serif Display';
// 'Faustina';
.content {
	width: 100%;
	overflow: hidden;
	color: $navy;
	font-family: 'Faustina';
	.inner {
		width: 1180px;
		height: 100%;
		text-align: center;
		h1 {
			font: bold 100px/1 "DM Serif Display";
			margin-bottom: 200px;
			margin-top: 200px;
		}
		.byred_text{
			height: 400px;
			font: 25px/2 'Faustina';
			margin-bottom: 200px;
			color: #fff;
			background: $navy;
			border-radius: 50%;
			span{
				font: 50px/1 "DM Serif Display";
				position: relative;
				top: 0px;
			}
			p{
				position: relative;
				top: 30px;
				padding: 40px;
			}
		}
		.wrap {
			width: 100%;
			height: 2800px;
			.team_title{
				font: bold 30px/1 'DM Serif Display';
				margin-bottom: 50px;
			}
			.ceo {
				display: flex;
				justify-content: center;
				margin-bottom: 15%;
				
			}
			.Planning {
				height: 400px;
				display: flex;
				justify-content: center;
				margin-bottom: 15%;
				article {
					.pic {
						width: 100%;
						height: 100%;
					}
					margin-left: 40px;
					.member_text {
						position: relative;
						left: -40px;
					}
				}
			}
			.Design {
				height: 400px;
				display: flex;
				justify-content: center;
				margin-bottom: 15%;
				article {
					.pic {
						width: 100%;
						height: 100%;
					}
					margin-left: 40px;
					.member_text {
						position: relative;
						left: -40px;
					}
				}
			}
			.marketing {
				height: 400px;
				display: flex;
				justify-content: center;
				article {
					.pic {
						width: 100%;
						height: 100%;
					}
					margin-left: 40px;
					.member_text {
						position: relative;
						left: -40px;
					}
				}
			}
			article {
				width: 280px;
				height: 400px;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}.team_title{
			width: 270px;
			height: 50px;
			position: relative;
			left: 40%;
			transform: translateY(-50%, -50%);
			&:nth-of-type(1){
				left: 38.5%;
			}
			
		}
	}
}

