#header {
	width: 100%;
	.inner {
		width: 1180px;
		height: 120px;
		margin: 0 auto;
		position: relative;
		padding-top: 30px;
		a {
			display: flex;
			justify-content: center;
			font: bold 60px/1 "DM Serif Display";

			color: $navy;
			overflow: hidden;
		}
		.menu {
			#gnb {
				position: absolute;
				left: 0%;
				bottom: 0;
				li {
					float: left;
					a {
						display: block;
						padding: 0px 40px;
						font: bold 20px/1 "Faustina";
						color: $navy;
						position: relative;
						left: 120px;
						top: 30px;
						overflow: hidden;
						transition: 0.5s;
						&:hover {
							transform: scale(1.2);
						}
					}
				}
			}
			.util {
				position: absolute;
				right: 10px;
				top: 15px;
				li {
					float: left;
					a {
						position: relative;
						padding: 8px;
						font: 15px/1 "Faustina";
						color:  $navy;
						transition: 0.5s;
						&:hover {
							transform: scale(1.2);
						}
					}
				}
			}
		}
	}
}

.content{
	width: 100%;
	margin: 100px 0px;
	.inner{
		width: 1180px;
		height: 1000px;
		margin: 0 auto;
		min-height: 500px;
	}
}

#saying {
	width: 100%;
	height: 400px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: $navy;
	

	.inner {
		h1 {
			text-align: center;
		}

		.swiper {
			width: 100%;
			height: 350px;
			.swiper-slide {
				text-align: center;
				font-size: 18px;

				/* Center slide text vertically */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

#footer {
	width: 100%;
	overflow: hidden;
	border-top: 1px solid $navy;
	.inner {
		width: 1180px;
		height: 300px;
		margin: 0 auto;
		&::after {
			content: "";
			display: block;
			clear: both;
		}
		ul {
			float: left;
			margin-top: 30px;
			margin-left: 150px;
			h1 {
				font: bold 20px/1px "DM Serif Display";
				color: $navy;
				margin-bottom: 20px;
			}
			a {
				font: 18px/30px "Faustina";
				color: $navy;
			}
			&:nth-of-type(1){
				position: relative;
				left: 15%;
			}
			&:nth-of-type(2){
				position: relative;
				left: 10%;
			}
			&:nth-of-type(3) {
				display: block;
				position: relative;
				float: right;
				left: 90px;
				bottom: 10px;
				font-size: 40px;
			}
		}
		address {
			width: 100%;
			position: relative;
			left: -55%;
			top: 140px;
			color: $navy;
			

		}
		.copy {
			position: relative;
			top: 190px;
			left: -150px;
		}
		.contact {
			width: 100%;
			position: relative;
			top: 80px;
			left: -650px;
			h2 {
				font: bold 30px/1 "DM Serif Display";
				color: $navy;
				margin-bottom: 10px;
				text-decoration: underline;
			}
			p {
				font: 20px/1 "Faustina";
				color: $navy;
			}
		}
	}
}