@charset "UTF-8";
@import "reset.scss";
@import "color.scss";
@import "font-family";
@import "main.scss";
@import "subIndex.scss";
@import "member.scss";
@import "community.scss";
@import "join.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Faustina:wght@600&display=swap");
// 'DM Serif Display';
// 'Faustina';

body {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png) repeat;
	a {
		h1 {
			font: bold 60px/1 "DM Serif Display";
			color: $navy;
			text-align: center;
			margin-top: 100px;
			z-index: 3;
		}
		main {
			width: 100%;
			height: 100%;
			article {
				width: 100%;
				height: 50vh;
				position: absolute;
				top: 25%;
				left: 0;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

